<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/form.css">
  <title>Vinylovers</title>
</head>
<body class= "background-image">
  <form id="form" action="/auth/login" method="POST">
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password">
    </div>
    <% if (typeof message != "undefined") { %>
      <div class="error-message"><%= message %></div>
    <% } %>
    <br>
    <div>
      <input class="login-btn-orange" type="submit" value="Log In">
    </div>
  </form>
</body>
</html>
