<!-- views/auth/signup.ejs -->
<div class="container background-image">
  <form id = "form" action="/auth/signup" method="POST" id="form-container">
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" placeholder="Mick Jagger">
    <br><br>
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" placeholder="your email">
    <br><br>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="Your password">
    <br><br>
    <label for="imgUrl">Profile picture:</label>
    <input id="imgUrl" type="file" name="imgUrl" placeholder="image">
    <div class="location">
      <label for="latitude">Latitude:</label>
      <input id="latitude" type="number" step="any" name="latitude" placeholder="latitude">
      <label for="longitude">Longitude:</label>
      <input id="longitude" type="number" step="any" name="longitude" placeholder="longitude">
    </div>
    <% if (typeof message !== "undefined") { %>
      <div class="error-message"><%= message %></div>
    <% } %>
    <br><br>
    <button class= "login-btn-orange">Create account</button>
    <p class="account-message">
      Do you already have an account?
      <a  href="/auth/login">login</a>
    </p>
  </form>
</div>
<script type="text/javascript" src="/javascripts/geoloc.js"></script>
