<div class="container background-image">
  <h1 class ="web-title">Vinylovers</h1>
  <h2 class= "web-description">Welcome to the best exchange for your old-time best records!</h2>
  <% if(!user){ %>
    <ul>
      <li class="login"><a href="/auth/login" class="login button" >Login</a></li>
      <li class = 'login'><a href="/auth/signup" class="login button">signup</a></li>
    </ul>
  <% }else{ %>
      <a href="/marketplace">Market Place </a>
      <a href="/auth/logout">Logout <%= user.username %></a>
  <% } %>
  </div>
