<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vinylovers</title>
</head>
<body>
  <h1>Market Place</h1>
<ul>
  <% vinyls.forEach((vinyl) => { %>
    <li><%= vinyl.albumName %></li>
<% }) %>
</ul>
</body>
</html>
